body{
    font-family: 'Poppins', sans-serif;
}
semi-circle{
    height:800px;
    width: 800px;
    position:absolute;
    border-radius: 70%;
    background-color:#659549 ;
}

.semi-circle    {
     right:-70px;
     top:-350px
}

h3 {
    color: #162938;
    font-size: 1.5em;
}
h3 span{
    color: #6cb840;
}
h1{
    color: #6CB840;
}
button{
    width: 180px;
    height: 55px;
    background-color: #6CB840;
    color: white;
    border: none;
    font-size: 1.0em;
    outline: none;
    cursor: pointer;
    border-radius: 30px;
}
.street-food nav a{
    margin: 40px;
    text-decoration: none;
    color: #162938;
    font-size: 0.9em;
}
.street-food{
    background-color: #b3c1d9;
}
.burgers{
    display: flex;
    margin: 50px;
}
.burger-name{
    width: 300px;
    height: 200px;
    background-color:whitesmoke;
    border-bottom-right-radius: 40px;
    margin: 50px;
    display: flex;
}
.burgers-menu{
    background-color: #b3c1d9;
}
::placeholder{
    color: #162938;
    font-size: 1.4em;
}
.eat-together{
    display: flex;
}
.eat-together img{
    width: 500px;
    height: 400px;
}
.eat-together p{
    display: flexbox;
}
.hot-deals{
    background-color: #C9ECB5;

}
.contact-us{
    background-color: #f2d6e8;
}
.contact-us input{
    border: none;
    outline: none
}
.newsletter-footer{
    background-color: #b3c1d9;
    display: flex;
}
